<!-- <h1> Signup </h1>
<form (ngSubmit)="signup(myForm)" #myForm="ngForm">
  <label> Username </label>
  <input type="text" [(ngModel)]="username" name="username"/>
  <label> email </label>
  <input type="text" [(ngModel)]="email" name="email"/>
  <label> Password </label>
  <input type="password" [(ngModel)]="password" name="password"/>
  <label> Country </label>
  <input type="text" [(ngModel)]="country" name="country"/>
  <label> City </label>
  <input type="text" [(ngModel)]="city" name="city"/>

<button (click)="signup()" >Submit</button>
</form>
<p class="error"> {{ error }} </p> -->



<div class="container-fluid bg-light py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Signup</h3>
                </div>
                <div class="card card-body">
                  
                    <form (ngSubmit)="signup(myForm)" #myForm="ngForm">   
                        <div class="form-group has-success">
                            <label> Username </label>
                            <input type="text" [(ngModel)]="username" class="form-control input-lg" name="username" placeholder="Username"/>
                        </div>

                        <div class="form-group has-success">
                            <label> Email </label>
                            <input type="text" [(ngModel)]="email" class="form-control input-lg" name="email" placeholder="Email"/>
                        </div>
                      
                        
                        <div class="form-group has-success">
                            <label> Password </label>
                            <input type="password" [(ngModel)]="password" name="password" class="form-control input-lg" placeholder="Password"/>
                        </div>
                        
                        <div class="form-group">
                            <label> Country </label>
                            <input type="text" [(ngModel)]="country" name="country" class="form-control input-lg" placeholder="Country"/>
                        </div>

                        <div class="form-group has-success">
                            <label> City </label>
                               <input type="text" [(ngModel)]="city" name="city" class="form-control input-lg" placeholder="City"/>
                        </div>
                  
                        <button class="btn btn-lg btn-primary btn-block" (click)="signup()" >Submit</button>
                        <!-- <button  (click)="signup()" class="btn btn-lg btn-primary btn-block" value="Sign Me Up" type="submit"> -->
                      </form>
                </div>
        </div>
    </div>
</div>
<p class="error"> {{ error }} </p>