.fa-calendar-plus{
    width: 70px;
    height: 70px;
    color :yellowgreen;
}
#newEvent{
    
    text-align: center;
    text-decoration:none;
}
#newEvent1{
  
    text-align: center;
    text-decoration:none;
}
#quehacer{
    text-align: center;
}
.btn-default{
    text-decoration: none;

}
.navbar-toggleable-md .navbar-collapse
{
    width: 100%;
    height: 50px;
    background:#0D2E4F;

}
  .secondpart{
margin-bottom: 100px;

  }


.bg-faded{
  background-color:#0D2E4F;;
}
.el{
    text-align: center;

}
.imagen-perfil{
    border: 2px solid black ;
}
.information{
    text-align: center;
}
.navbar-light .navbar-nav .nav-link{
  color:#c5a124;
}






/* ///////////Profile///// */


@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
body {
  background-color:#0D2E4F;;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.containerp {
  width: 800px;
  margin: 100px auto 100px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
  
}
.containerp:hover .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.containerp:hover .avatar-flip img:first-child {
  opacity: 0;
}
.containerp:hover .avatar-flip img:last-child {
  opacity: 1;
}
.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

/* /////imagen hover event////// */


.imagebox {
    background: black;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .imagebox img {
    opacity: 1;
    transition: 0.5s opacity;
  }
  
  .imagebox .imagebox-desc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1.2em;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
  }
  
  .imagebox:hover img {
    opacity: 0.7;
  }
  
  .imagebox:hover .imagebox-desc {
    padding-bottom: 10%;
  }

  .soler21{
    width: 100%;
    height: 100%;
    background:#0D2E4F;
  }
  