<html>
<body>


<div class="contain">
	<div class="row">
		<div class="col sm-6">

			<div class="mapa">
				<h1>Indica direccion del evento</h1>
				<input [(ngModel)]="direction" name="direction" placeholder="search for location" autocorrect="off" autocapitalize="off"
				 spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
				<div class="form-group">
					<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
						<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
					</agm-map>
				</div>
			</div>
		</div>

		<div class="col sm-6">
		<div id="centered">
				<form (ngSubmit)="createEvent(myForm)" #myForm="ngForm"  >
				  <h1>Detalles</h1>
				  <p>
						<input type="text" [(ngModel)]="lat" hidden value="{{latitude}}" class="form-control margin-bottom-20" id='location1' name="lat"
						 placeholder="Enter your latitud">
						<input type="text" [(ngModel)]="lng" hidden value="{{longitude}}" class="form-control" id="location2" name="lng" placeholder="Enter longitud">
					</p>
					<label> Deporte </label>
					<select class="form-control" id="sel1" [(ngModel)]="deporte" name="deporte">
						<option>Futbol 11</option>
						<option>Futbol 7</option>
						<option>Futbol Sala</option>
						<option>Baloncesto</option>
						<option>Padel</option>
						<option>Tenis</option>
					</select><br>
					<input [(ngModel)]="maxPart" id="maxPart"  name="maxPart" placeholder="Participantes"><br>
					<input id="date" class="form-control" type="date" name="date" [(ngModel)]="date" placeholder="Fecha"><br>
					<input id="time" class="form-control" type="time" name="time" [(ngModel)]="time"><br>
				  <input (click)="createEvent()" type="submit" value="Crear" id="send"><br>
				</form>
			   </div>
			   </div>
			   </div>
			</div>
			   
		</body>		   
			  
		</html>
			




<!-- 

		<div class="col sm-6">
			<div class="shade">
				<div class="blackboard">
					<div class="form">
						<form (ngSubmit)="createEvent(myForm)" #myForm="ngForm">

							<p>
								<input type="text" [(ngModel)]="lat" hidden value="{{latitude}}" class="form-control margin-bottom-20" id='location1' name="lat"
								 placeholder="Enter your latitud">
								<input type="text" [(ngModel)]="lng" hidden value="{{longitude}}" class="form-control" id="location2" name="lng" placeholder="Enter longitud">
							</p>
							<p>
								<label> Deporte </label>
								<select class="form-control" id="sel1" [(ngModel)]="deporte" name="deporte">
									<option>Futbol 11</option>
									<option>Futbol 7</option>
									<option>Futbol Sala</option>
									<option>Baloncesto</option>
									<option>Padel</option>
									<option>Tenis</option>
								</select>


								<p>
									<label>Nº Participantes: </label>
									<input [(ngModel)]="maxPart" id="maxPart" class="form-control" name="maxPart" placeholder="Participantes">
								</p>
								<p>
									<label>Date: </label>
									<input id="date" class="form-control" type="date" name="date" [(ngModel)]="date">
								</p>
								<p>
									<label>Time: </label>
									<input id="time" class="form-control" type="time" name="time" [(ngModel)]="time">
								</p>
								<p class="wipeout">
									<button class="btn btn-lg btn-primary btn-block" (click)="createEvent()">Create Event</button>
								</p>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
 -->





